
/* the styles for the elements */
* {
	margin: 0;
	padding: 0;
}
html {
	background-color: white;
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 87.5%;
    width: 800px;
    margin: 0 auto;
    border: 3px solid #ff0000;
    border-radius:30px;
    background-color: #fffded;
    box-shadow:10px 10px grey;
}

/* the styles for the header */
header {
	border-bottom: 3px solid #ff0000;
	padding: 1.5em 0 1.5em 5em;
	background-color: black;
	border-radius:30px;
}

a{color:black;}

/* the styles for the section */
section {
	padding: 0 20px 20px;
	margin:50px;
}
section h1 {
	font-size: 150%;
	padding: .5em 0 .25em;
	left-margin:80px;
}
label {
	float: left;
    width: 6em;
    text-align: right;
}
input {
    margin-left: 1em;
    margin-bottom: .5em;
    padding-left:10px;
    width: 25em;
    box-shadow:2px 2px grey;
}
#search{float:right;}

#search input{ width: 15em;
    box-shadow:2px 2px grey;
    border-radius:5px;}
#search button{border-radius:5px;}
#contents{
	border:1px solid red;
	border-radius:3px;
	margin:3px;
}

.modal-content{
	 background-color: #fffded;
}
h1{float:left;}

/*the styles for the table */
table{margin-top:25px;
	clear:both;}
td, th
 {
 border:1px solid red;
 padding:6px;
 }
 
 th
 {
 background-color:red;
 color:white;
 }
 /*styles for the more info link*/
 .normal{}
 .fav{font-weight:bold;
 	  font-style:italic;}
 
/* the styles for the footer */
footer {
	border-top: 3px solid #ff0000;
	padding: 1em 0;
	clear: both;
}
footer p {
	text-align: center;
}